@font-face {
   font-family:'Montserrat400';
   src: url(../Fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
   font-family:'Montserrat700';
   src: url(../Fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face{
   font-family: 'Roboto';
   src:url(../Fonts/Roboto/Roboto-Thin.ttf)
}